In [17]:
import polars as pl
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point

In [2]:
data_path = r"C:\Users\Zygim\Downloads\archive (8)\CV_LatLon_21Jan_12Mar.csv"

In [3]:
df_lazy = pl.scan_csv(data_path).lazy()

In [4]:
df = df_lazy.collect()

In [6]:
df.null_count()

shape: (1, 9)
┌─────┬───────┬─────────┬─────┬───┬──────┬───────────┬───────────┬───────┐
│     ┆ state ┆ country ┆ lat ┆ … ┆ date ┆ confirmed ┆ recovered ┆ death │
│ --- ┆ ---   ┆ ---     ┆ --- ┆   ┆ ---  ┆ ---       ┆ ---       ┆ ---   │
│ u32 ┆ u32   ┆ u32     ┆ u32 ┆   ┆ u32  ┆ u32       ┆ u32       ┆ u32   │
╞═════╪═══════╪═════════╪═════╪═══╪══════╪═══════════╪═══════════╪═══════╡
│ 0   ┆ 0     ┆ 0       ┆ 0   ┆ … ┆ 0    ┆ 0         ┆ 0         ┆ 0     │
└─────┴───────┴─────────┴─────┴───┴──────┴───────────┴───────────┴───────┘

In [7]:
df

shape: (20_706, 9)
┌───────┬────────────────┬───────────┬─────────┬───┬─────────┬───────────┬───────────┬───────┐
│       ┆ state          ┆ country   ┆ lat     ┆ … ┆ date    ┆ confirmed ┆ recovered ┆ death │
│ ---   ┆ ---            ┆ ---       ┆ ---     ┆   ┆ ---     ┆ ---       ┆ ---       ┆ ---   │
│ i64   ┆ str            ┆ str       ┆ f64     ┆   ┆ str     ┆ i64       ┆ i64       ┆ i64   │
╞═══════╪════════════════╪═══════════╪═════════╪═══╪═════════╪═══════════╪═══════════╪═══════╡
│ 0     ┆ 0              ┆ Thailand  ┆ 15.0    ┆ … ┆ 1/22/20 ┆ 2         ┆ 0         ┆ 0     │
│ 1     ┆ 0              ┆ Japan     ┆ 36.0    ┆ … ┆ 1/22/20 ┆ 2         ┆ 0         ┆ 0     │
│ 2     ┆ 0              ┆ Singapore ┆ 1.2833  ┆ … ┆ 1/22/20 ┆ 0         ┆ 0         ┆ 0     │
│ 3     ┆ 0              ┆ Nepal     ┆ 28.1667 ┆ … ┆ 1/22/20 ┆ 0         ┆ 0         ┆ 0     │
│ 4     ┆ 0              ┆ Malaysia  ┆ 2.5     ┆ … ┆ 1/22/20 ┆ 0         ┆ 0         ┆ 0     │
│ …     ┆ …              ┆ …         ┆ …       ┆ … ┆ …       ┆ …         ┆ …         ┆ …     │
│ 20701 ┆ Oakland, MI    ┆ US        ┆ 42.5922 ┆ … ┆ 3/12/20 ┆ 0         ┆ 0         ┆ 0     │
│ 20702 ┆ Wayne, MI      ┆ US        ┆ 42.2791 ┆ … ┆ 3/12/20 ┆ 0         ┆ 0         ┆ 0     │
│ 20703 ┆ New Castle, DE ┆ US        ┆ 39.5393 ┆ … ┆ 3/12/20 ┆ 0         ┆ 0         ┆ 0     │
│ 20704 ┆ 0              ┆ Cuba      ┆ 22.0    ┆ … ┆ 3/12/20 ┆ 3         ┆ 0         ┆ 0     │
│ 20705 ┆ 0              ┆ Guyana    ┆ 5.0     ┆ … ┆ 3/12/20 ┆ 1         ┆ 0         ┆ 1     │
└───────┴────────────────┴───────────┴─────────┴───┴─────────┴───────────┴───────────┴───────┘

In [22]:
df = df.with_columns(
    pl.col('date').str.strptime(pl.Date, format='%m/%d/%y').alias('date')
)

SchemaError: invalid series dtype: expected `String`, got `date`

In [24]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df['lon'], df['lat'])
)

In [25]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

C:\Users\Zygim\AppData\Local\Temp\ipykernel_1228\601121909.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

ImportError: The 'read_file' function requires the 'pyogrio' or 'fiona' package, but neither is installed or imports correctly.
Importing fiona resulted in: DLL load failed while importing _env: The specified procedure could not be found.
Importing pyogrio resulted in: No module named 'pyogrio'