In [4]:
import polars as pl
import polars.selectors as cs

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [5]:
df_path = r'/mnt/samsung/Datasets/Student_Placement_Skills_2025/Student_Placement_Skills_2025.csv'

In [6]:
df = pl.read_csv(df_path)

In [7]:
df

shape: (600, 13)
┌────────────┬────────┬─────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ Student_ID ┆ Gender ┆ Age ┆ Degree      ┆ … ┆ Communicati ┆ Aptitude_T ┆ Placement_ ┆ Salary_Off │
│ ---        ┆ ---    ┆ --- ┆ ---         ┆   ┆ on_Skills_S ┆ est_Score_ ┆ Offer      ┆ ered_USD   │
│ i64        ┆ str    ┆ i64 ┆ str         ┆   ┆ core_100    ┆ 100        ┆ ---        ┆ ---        │
│            ┆        ┆     ┆             ┆   ┆ ---         ┆ ---        ┆ str        ┆ f64        │
│            ┆        ┆     ┆             ┆   ┆ i64         ┆ i64        ┆            ┆            │
╞════════════╪════════╪═════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 1          ┆ Male   ┆ 19  ┆ Business    ┆ … ┆ 42          ┆ 57         ┆ Yes        ┆ 8047.08    │
│ 2          ┆ Female ┆ 27  ┆ Engineering ┆ … ┆ 54          ┆ 40         ┆ Yes        ┆ 3518.56    │
│ 3          ┆ Male   ┆ 26  ┆ Data        ┆ … ┆ 54          ┆ 49         ┆ No         ┆ 11791.75   │
│            ┆        ┆     ┆ Science     ┆   ┆             ┆            ┆            ┆            │
│ 4          ┆ Male   ┆ 18  ┆ Computer    ┆ … ┆ 42          ┆ 72         ┆ Yes        ┆ 13946.28   │
│            ┆        ┆     ┆ Science     ┆   ┆             ┆            ┆            ┆            │
│ 5          ┆ Male   ┆ 20  ┆ Business    ┆ … ┆ 50          ┆ 53         ┆ No         ┆ 10951.66   │
│ …          ┆ …      ┆ …   ┆ …           ┆ … ┆ …           ┆ …          ┆ …          ┆ …          │
│ 596        ┆ Female ┆ 22  ┆ Business    ┆ … ┆ 45          ┆ 78         ┆ No         ┆ 14940.13   │
│ 597        ┆ Male   ┆ 19  ┆ Data        ┆ … ┆ 81          ┆ 63         ┆ Yes        ┆ 8607.62    │
│            ┆        ┆     ┆ Science     ┆   ┆             ┆            ┆            ┆            │
│ 598        ┆ Male   ┆ 28  ┆ Data        ┆ … ┆ 96          ┆ 82         ┆ No         ┆ 16772.72   │
│            ┆        ┆     ┆ Science     ┆   ┆             ┆            ┆            ┆            │
│ 599        ┆ Male   ┆ 26  ┆ Engineering ┆ … ┆ 59          ┆ 60         ┆ No         ┆ 4159.32    │
│ 600        ┆ Female ┆ 19  ┆ Engineering ┆ … ┆ 69          ┆ 90         ┆ No         ┆ 11214.65   │
└────────────┴────────┴─────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘