In [15]:
import ibis

In [16]:
df_path = r"F:\Datasets\CSV datasets\internet_usage.csv"

In [17]:
con = ibis.connect("duckdb://:memory:")

In [18]:
futures_table = con.read_csv(df_path)

In [19]:
futures_table.head(5).execute()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,..,0.00472257,0.0045614,0.0878913,0.105809,1.22415,2.10712,1.9,...,7,8.26,11,13.5,16.8,17.6,18.4,..,..,..
1,Albania,ALB,0.114097,0.325798,0.390081,0.9719,2.42039,6.04389,9.60999,15.0361,...,54.3,56.9,59.6,62.4,65.4,68.5504,72.2377,79.3237,82.6137,83.1356
2,Algeria,DZA,0.491706,0.646114,1.59164,2.19536,4.63448,5.84394,7.37598,9.45119,...,29.5,38.2,42.9455,47.6911,49.0385,58.9776,60.6534,66.2356,71.2432,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,10.5388,..,11.2605,13.5464,26.838,37.6058,48.9368,70.87,...,86.1,87.9,89.7,91.5675,..,90.7187,93.2056,93.8975,94.4855,..

In [20]:
futures_table.count().execute()

217

In [25]:
futures_table.select(
    'Country Name', 'Country Code', '2000'
).execute()

              Country Name Country Code       2000
0              Afghanistan          AFG         ..
1                  Albania          ALB   0.114097
2                  Algeria          DZA   0.491706
3           American Samoa          ASM         ..
4                  Andorra          AND    10.5388
..                     ...          ...        ...
212  Virgin Islands (U.S.)          VIR    13.8151
213     West Bank and Gaza          PSE    1.11131
214            Yemen, Rep.          YEM  0.0825004
215                 Zambia          ZMB   0.191072
216               Zimbabwe          ZWE   0.401434

[217 rows x 3 columns]

In [41]:
futures_table.mutate(
    year_2000=ibis.case()
    .when(futures_table['2000'] == '..', None)
    .else_(futures_table['2000'])
    .end()
).execute()

C:\Users\Zygim\AppData\Local\Temp\ipykernel_39156\4286372317.py:2: FutureWarning: `case` is deprecated as of v10.0.0, removed in v11.0; use ibis.cases()
  year_2000=ibis.case()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,year_2000
0,Afghanistan,AFG,..,0.00472257,0.0045614,0.0878913,0.105809,1.22415,2.10712,1.9,...,8.26,11,13.5,16.8,17.6,18.4,..,..,..,None
1,Albania,ALB,0.114097,0.325798,0.390081,0.9719,2.42039,6.04389,9.60999,15.0361,...,56.9,59.6,62.4,65.4,68.5504,72.2377,79.3237,82.6137,83.1356,0.114097
2,Algeria,DZA,0.491706,0.646114,1.59164,2.19536,4.63448,5.84394,7.37598,9.45119,...,38.2,42.9455,47.6911,49.0385,58.9776,60.6534,66.2356,71.2432,..,0.491706
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,None
4,Andorra,AND,10.5388,..,11.2605,13.5464,26.838,37.6058,48.9368,70.87,...,87.9,89.7,91.5675,..,90.7187,93.2056,93.8975,94.4855,..,10.5388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,13.8151,18.3758,27.4944,27.4291,27.377,27.3443,27.3326,27.3393,...,54.8391,59.6083,64.3775,..,..,..,..,..,..,13.8151
213,West Bank and Gaza,PSE,1.11131,1.83685,3.10009,4.13062,4.4009,16.005,18.41,21.176,...,56.7,59.9,63.3,64.4,70.6226,76.01,81.83,88.6469,86.6377,1.11131
214,"Yemen, Rep.",YEM,0.0825004,0.0908025,0.518796,0.604734,0.881223,1.0486,1.24782,5.01,...,24.0854,24.5792,26.7184,..,..,13.8152,14.8881,17.6948,..,0.0825004
215,Zambia,ZMB,0.191072,0.23313,0.477751,0.980483,1.1,1.3,1.6,1.9,...,8.8,10.3,12.2,14.3,18.7,24.4992,26.9505,31.2342,..,0.191072
216,Zimbabwe,ZWE,0.401434,0.799846,1.1,1.8,2.1,2.4,2.4,3,...,22.7428,23.12,24.4,25,26.5883,29.2986,32.4616,32.5615,..,0.401434

1236