# https://www.youtube.com/watch?v=UbcKZKPXhDA&list=PLo9Vi5B84_dfAuwJqNYG4XhZMrGTF3sBx&index=4

# Group-By in Polars

In [64]:
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
df_path = r'F:\DataSpell\Polars_library_learn\Youtube Lessons\Polars Tutorial\data\2019-Nov.parquet'

In [66]:
df = pl.read_parquet(df_path)

In [67]:
df.group_by('brand').agg([
  pl.len()
]).sort('len').reverse()

shape: (4_202, 2)
┌──────────┬─────────┐
│ brand    ┆ len     │
│ ---      ┆ ---     │
│ str      ┆ u32     │
╞══════════╪═════════╡
│ null     ┆ 9218235 │
│ samsung  ┆ 7889245 │
│ apple    ┆ 6259379 │
│ xiaomi   ┆ 4638062 │
│ huawei   ┆ 1410126 │
│ …        ┆ …       │
│ mirex    ┆ 1       │
│ zazu     ┆ 1       │
│ dogrular ┆ 1       │
│ slovo    ┆ 1       │
│ arpenaz  ┆ 1       │
└──────────┴─────────┘

In [68]:
df_count = df.group_by('brand').agg([
  pl.len()
]).to_pandas().sort_values('len', ascending=False)

df_count

           brand      len
1629        None  9218235
3408     samsung  7889245
3112       apple  6259379
2117      xiaomi  4638062
996       huawei  1410126
...          ...      ...
671      nordica        1
1610      casato        1
2749  individuum        1
3268      reshin        1
487      gssolid        1

[4202 rows x 2 columns]

In [69]:
(
  df.group_by('brand').agg([
    pl.len()
  ])
  .sort('len').reverse()
  .with_columns([
      (pl.col('len') / pl.col('len').sum()).alias('percentage')
  ])
)

shape: (4_202, 3)
┌───────────┬─────────┬────────────┐
│ brand     ┆ len     ┆ percentage │
│ ---       ┆ ---     ┆ ---        │
│ str       ┆ u32     ┆ f64        │
╞═══════════╪═════════╪════════════╡
│ null      ┆ 9218235 ┆ 0.136562   │
│ samsung   ┆ 7889245 ┆ 0.116874   │
│ apple     ┆ 6259379 ┆ 0.092729   │
│ xiaomi    ┆ 4638062 ┆ 0.06871    │
│ huawei    ┆ 1410126 ┆ 0.02089    │
│ …         ┆ …       ┆ …          │
│ invotone  ┆ 1       ┆ 1.4814e-8  │
│ reshin    ┆ 1       ┆ 1.4814e-8  │
│ emily     ┆ 1       ┆ 1.4814e-8  │
│ interlink ┆ 1       ┆ 1.4814e-8  │
│ evo       ┆ 1       ┆ 1.4814e-8  │
└───────────┴─────────┴────────────┘

In [70]:
df.sample(5)

shape: (5, 9)
┌────────────┬────────────┬────────────┬───────────┬───┬──────────┬────────┬───────────┬───────────┐
│ event_time ┆ event_type ┆ product_id ┆ category_ ┆ … ┆ brand    ┆ price  ┆ user_id   ┆ user_sess │
│ ---        ┆ ---        ┆ ---        ┆ id        ┆   ┆ ---      ┆ ---    ┆ ---       ┆ ion       │
│ str        ┆ str        ┆ i64        ┆ ---       ┆   ┆ str      ┆ f64    ┆ i64       ┆ ---       │
│            ┆            ┆            ┆ i64       ┆   ┆          ┆        ┆           ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪══════════╪════════╪═══════════╪═══════════╡
│ 2019-11-09 ┆ view       ┆ 5700785    ┆ 205301355 ┆ … ┆ null     ┆ 272.83 ┆ 539617147 ┆ 45ecb36d- │
│ 04:17:32   ┆            ┆            ┆ 397093817 ┆   ┆          ┆        ┆           ┆ c3d6-4b9a │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -9f97-40c │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 2e1…      │
│ 2019-11-25 ┆ view       ┆ 1005119    ┆ 205301355 ┆ … ┆ apple    ┆ 1003.6 ┆ 576364160 ┆ 86b3b570- │
│ 08:27:32   ┆            ┆            ┆ 563188265 ┆   ┆          ┆        ┆           ┆ 116d-4185 │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -84c7-504 │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 0bf…      │
│ 2019-11-16 ┆ view       ┆ 1005105    ┆ 205301355 ┆ … ┆ apple    ┆ 1364.0 ┆ 516506587 ┆ 998f960b- │
│ 05:33:02   ┆            ┆            ┆ 563188265 ┆   ┆          ┆        ┆           ┆ 6bbf-4399 │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -acbc-2f6 │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 916…      │
│ 2019-11-16 ┆ view       ┆ 12703015   ┆ 205301355 ┆ … ┆ cordiant ┆ 42.99  ┆ 572174557 ┆ eb1a8a44- │
│ 13:12:12   ┆            ┆            ┆ 355989635 ┆   ┆          ┆        ┆           ┆ 7327-401b │
│ UTC        ┆            ┆            ┆ 5         ┆   ┆          ┆        ┆           ┆ -a8ea-046 │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ 11e…      │
│ 2019-11-05 ┆ view       ┆ 1802070    ┆ 205301355 ┆ … ┆ philips  ┆ 566.27 ┆ 514524841 ┆ d6aa2a75- │
│ 07:59:35   ┆            ┆            ┆ 441553442 ┆   ┆          ┆        ┆           ┆ aacb-45dd │
│ UTC        ┆            ┆            ┆ 7         ┆   ┆          ┆        ┆           ┆ -9825-b8f │
│            ┆            ┆            ┆           ┆   ┆          ┆        ┆           ┆ e0b…      │
└────────────┴────────────┴────────────┴───────────┴───┴──────────┴────────┴───────────┴───────────┘

In [71]:
df['event_type'].value_counts()

shape: (3, 2)
┌────────────┬──────────┐
│ event_type ┆ count    │
│ ---        ┆ ---      │
│ str        ┆ u32      │
╞════════════╪══════════╡
│ cart       ┆ 3028930  │
│ view       ┆ 63556110 │
│ purchase   ┆ 916939   │
└────────────┴──────────┘

In [72]:
df.group_by('event_type').agg(pl.len())

shape: (3, 2)
┌────────────┬──────────┐
│ event_type ┆ len      │
│ ---        ┆ ---      │
│ str        ┆ u32      │
╞════════════╪══════════╡
│ purchase   ┆ 916939   │
│ cart       ┆ 3028930  │
│ view       ┆ 63556110 │
└────────────┴──────────┘

# 2. Group_by - pl.len (two groups

In [73]:
df_brand_event = df.group_by(['brand', 'event_type']).agg([
  pl.len()
  ]).sort('len').reverse()

df_brand_event

shape: (9_749, 3)
┌────────────┬────────────┬─────────┐
│ brand      ┆ event_type ┆ len     │
│ ---        ┆ ---        ┆ ---     │
│ str        ┆ str        ┆ u32     │
╞════════════╪════════════╪═════════╡
│ null       ┆ view       ┆ 8886720 │
│ samsung    ┆ view       ┆ 7091998 │
│ apple      ┆ view       ┆ 5603650 │
│ xiaomi     ┆ view       ┆ 4309751 │
│ huawei     ┆ view       ┆ 1312663 │
│ …          ┆ …          ┆ …       │
│ hercules   ┆ cart       ┆ 1       │
│ smarttrike ┆ cart       ┆ 1       │
│ teknetics  ┆ cart       ┆ 1       │
│ indiana    ┆ cart       ┆ 1       │
│ lioele     ┆ purchase   ┆ 1       │
└────────────┴────────────┴─────────┘

In [74]:
# Convert from long to wide format

df_brand_event_wide = df_brand_event.pivot(
  values='len',
  index='brand',
  columns='event_type'
)

df_brand_event_wide

shape: (4_202, 4)
┌──────────────┬─────────┬────────┬──────────┐
│ brand        ┆ view    ┆ cart   ┆ purchase │
│ ---          ┆ ---     ┆ ---    ┆ ---      │
│ str          ┆ u32     ┆ u32    ┆ u32      │
╞══════════════╪═════════╪════════╪══════════╡
│ null         ┆ 8886720 ┆ 258242 ┆ 73273    │
│ samsung      ┆ 7091998 ┆ 597220 ┆ 200027   │
│ apple        ┆ 5603650 ┆ 489665 ┆ 166064   │
│ xiaomi       ┆ 4309751 ┆ 260019 ┆ 68292    │
│ huawei       ┆ 1312663 ┆ 73760  ┆ 23703    │
│ …            ┆ …       ┆ …      ┆ …        │
│ casato       ┆ 1       ┆ null   ┆ null     │
│ della        ┆ 1       ┆ null   ┆ null     │
│ build-a-bear ┆ 1       ┆ null   ┆ null     │
│ grifon       ┆ 1       ┆ null   ┆ null     │
│ elkitorg     ┆ 1       ┆ null   ┆ null     │
└──────────────┴─────────┴────────┴──────────┘

In [84]:
# Pivot and sorting

df_brand_event_wide = (
  df_brand_event
  .pivot(values='len', index='brand', columns='event_type')
  .sort('purchase').reverse()
)

df_brand_event_wide

shape: (4_202, 4)
┌──────────┬─────────┬────────┬──────────┐
│ brand    ┆ view    ┆ cart   ┆ purchase │
│ ---      ┆ ---     ┆ ---    ┆ ---      │
│ str      ┆ u32     ┆ u32    ┆ u32      │
╞══════════╪═════════╪════════╪══════════╡
│ samsung  ┆ 7091998 ┆ 597220 ┆ 200027   │
│ apple    ┆ 5603650 ┆ 489665 ┆ 166064   │
│ null     ┆ 8886720 ┆ 258242 ┆ 73273    │
│ xiaomi   ┆ 4309751 ┆ 260019 ┆ 68292    │
│ huawei   ┆ 1312663 ┆ 73760  ┆ 23703    │
│ …        ┆ …       ┆ …      ┆ …        │
│ roblox   ┆ 1857    ┆ 16     ┆ null     │
│ tec      ┆ 2118    ┆ 3      ┆ null     │
│ wera     ┆ 4872    ┆ 14     ┆ null     │
│ certina  ┆ 6723    ┆ 4      ┆ null     │
│ gaissina ┆ 8104    ┆ 1      ┆ null     │
└──────────┴─────────┴────────┴──────────┘

In [85]:
# Keep original column and compute % values

agg_performance = df_brand_event_wide.with_columns([
    (pl.col('cart') / pl.col('view')).alias('cart_by_views'),
    (pl.col('purchase') / pl.col('cart')).alias('buy_by_cart'),
    (pl.col('purchase') / pl.col('view')).alias('buy_by_views')
])

agg_performance

shape: (4_202, 7)
┌──────────┬─────────┬────────┬──────────┬───────────────┬─────────────┬──────────────┐
│ brand    ┆ view    ┆ cart   ┆ purchase ┆ cart_by_views ┆ buy_by_cart ┆ buy_by_views │
│ ---      ┆ ---     ┆ ---    ┆ ---      ┆ ---           ┆ ---         ┆ ---          │
│ str      ┆ u32     ┆ u32    ┆ u32      ┆ f64           ┆ f64         ┆ f64          │
╞══════════╪═════════╪════════╪══════════╪═══════════════╪═════════════╪══════════════╡
│ samsung  ┆ 7091998 ┆ 597220 ┆ 200027   ┆ 0.08421       ┆ 0.33493     ┆ 0.028205     │
│ apple    ┆ 5603650 ┆ 489665 ┆ 166064   ┆ 0.087383      ┆ 0.339138    ┆ 0.029635     │
│ null     ┆ 8886720 ┆ 258242 ┆ 73273    ┆ 0.029059      ┆ 0.283738    ┆ 0.008245     │
│ xiaomi   ┆ 4309751 ┆ 260019 ┆ 68292    ┆ 0.060333      ┆ 0.262642    ┆ 0.015846     │
│ huawei   ┆ 1312663 ┆ 73760  ┆ 23703    ┆ 0.056191      ┆ 0.321353    ┆ 0.018057     │
│ …        ┆ …       ┆ …      ┆ …        ┆ …             ┆ …           ┆ …            │
│ roblox   ┆ 1857    ┆ 16     ┆ null     ┆ 0.008616      ┆ null        ┆ null         │
│ tec      ┆ 2118    ┆ 3      ┆ null     ┆ 0.001416      ┆ null        ┆ null         │
│ wera     ┆ 4872    ┆ 14     ┆ null     ┆ 0.002874      ┆ null        ┆ null         │
│ certina  ┆ 6723    ┆ 4      ┆ null     ┆ 0.000595      ┆ null        ┆ null         │
│ gaissina ┆ 8104    ┆ 1      ┆ null     ┆ 0.000123      ┆ null        ┆ null         │
└──────────┴─────────┴────────┴──────────┴───────────────┴─────────────┴──────────────┘

In [78]:
agg_performance.filter(pl.col('buy_by_cart') < 1) \
    .select(['cart_by_views', 'buy_by_cart', 'buy_by_views']) \
    .to_pandas().quantile([0, 0.25, 0.5, 0.75, 0.99, 1])
 # .boxplot())

      cart_by_views  buy_by_cart  buy_by_views
0.00       0.001115     0.026810      0.000353
0.25       0.014640     0.210685      0.003704
0.50       0.024419     0.279579      0.006616
0.75       0.037220     0.343597      0.010874
0.99       0.121112     0.750000      0.043861
1.00       0.400000     0.900000      0.200000

# 3. Group_by - UserId + 2 Groups

In [79]:
df_user_brand_event = df.group_by(['user_id', 'brand', 'event_type']).agg([pl.len()]).sort('len').reverse()

df_user_brand_event

shape: (17_798_395, 4)
┌───────────┬───────────┬────────────┬──────┐
│ user_id   ┆ brand     ┆ event_type ┆ len  │
│ ---       ┆ ---       ┆ ---        ┆ ---  │
│ i64       ┆ str       ┆ str        ┆ u32  │
╞═══════════╪═══════════╪════════════╪══════╡
│ 568778435 ┆ null      ┆ view       ┆ 5850 │
│ 569335945 ┆ belecoo   ┆ view       ┆ 3651 │
│ 512365995 ┆ samsung   ┆ view       ┆ 3619 │
│ 569335945 ┆ wingoffly ┆ view       ┆ 3327 │
│ 573277455 ┆ null      ┆ view       ┆ 2467 │
│ …         ┆ …         ┆ …          ┆ …    │
│ 516708803 ┆ nika      ┆ view       ┆ 1    │
│ 542998789 ┆ elenberg  ┆ view       ┆ 1    │
│ 570421579 ┆ lenovo    ┆ view       ┆ 1    │
│ 565492053 ┆ huawei    ┆ view       ┆ 1    │
│ 522216593 ┆ samsung   ┆ view       ┆ 1    │
└───────────┴───────────┴────────────┴──────┘

In [90]:
# pivot and sort

df_user_brand_event = df_brand_event_wide.with_columns([
    pl.col('purchase').fill_null(strategy='zero'),
    pl.col('view').fill_null(strategy='zero'),
    pl.col('cart').fill_null(strategy='zero')
])

In [94]:
df_user_brand_event = df_brand_event_wide.with_columns(
    (pl.col('purchase') / pl.col('view')).alias('pct_buy_views'))

df_user_brand_event

shape: (4_202, 5)
┌──────────┬─────────┬────────┬──────────┬───────────────┐
│ brand    ┆ view    ┆ cart   ┆ purchase ┆ pct_buy_views │
│ ---      ┆ ---     ┆ ---    ┆ ---      ┆ ---           │
│ str      ┆ u32     ┆ u32    ┆ u32      ┆ f64           │
╞══════════╪═════════╪════════╪══════════╪═══════════════╡
│ samsung  ┆ 7091998 ┆ 597220 ┆ 200027   ┆ 0.028205      │
│ apple    ┆ 5603650 ┆ 489665 ┆ 166064   ┆ 0.029635      │
│ null     ┆ 8886720 ┆ 258242 ┆ 73273    ┆ 0.008245      │
│ xiaomi   ┆ 4309751 ┆ 260019 ┆ 68292    ┆ 0.015846      │
│ huawei   ┆ 1312663 ┆ 73760  ┆ 23703    ┆ 0.018057      │
│ …        ┆ …       ┆ …      ┆ …        ┆ …             │
│ roblox   ┆ 1857    ┆ 16     ┆ null     ┆ null          │
│ tec      ┆ 2118    ┆ 3      ┆ null     ┆ null          │
│ wera     ┆ 4872    ┆ 14     ┆ null     ┆ null          │
│ certina  ┆ 6723    ┆ 4      ┆ null     ┆ null          │
│ gaissina ┆ 8104    ┆ 1      ┆ null     ┆ null          │
└──────────┴─────────┴────────┴──────────┴───────────────┘

In [96]:
df_user_brand_event = df_user_brand_event.with_columns([
  pl.when(pl.col('pct_buy_views').is_infinite())
  .then(None)
  .otherwise(pl.col('pct_buy_views')).alias('pct_buy_views')
])

df_user_brand_event

shape: (4_202, 5)
┌──────────┬─────────┬────────┬──────────┬───────────────┐
│ brand    ┆ view    ┆ cart   ┆ purchase ┆ pct_buy_views │
│ ---      ┆ ---     ┆ ---    ┆ ---      ┆ ---           │
│ str      ┆ u32     ┆ u32    ┆ u32      ┆ f64           │
╞══════════╪═════════╪════════╪══════════╪═══════════════╡
│ samsung  ┆ 7091998 ┆ 597220 ┆ 200027   ┆ 0.028205      │
│ apple    ┆ 5603650 ┆ 489665 ┆ 166064   ┆ 0.029635      │
│ null     ┆ 8886720 ┆ 258242 ┆ 73273    ┆ 0.008245      │
│ xiaomi   ┆ 4309751 ┆ 260019 ┆ 68292    ┆ 0.015846      │
│ huawei   ┆ 1312663 ┆ 73760  ┆ 23703    ┆ 0.018057      │
│ …        ┆ …       ┆ …      ┆ …        ┆ …             │
│ roblox   ┆ 1857    ┆ 16     ┆ null     ┆ null          │
│ tec      ┆ 2118    ┆ 3      ┆ null     ┆ null          │
│ wera     ┆ 4872    ┆ 14     ┆ null     ┆ null          │
│ certina  ┆ 6723    ┆ 4      ┆ null     ┆ null          │
│ gaissina ┆ 8104    ┆ 1      ┆ null     ┆ null          │
└──────────┴─────────┴────────┴──────────┴───────────────┘